{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<h2>Home page for the COVID-19 information.</h2>
<table>
    <th>
        <td>Country</td>
        <td>Province/State</td>
        <td>Active Cases</td>
        <td>fips</td>
    </th>
{% for instance in object_list %}
    <tr>
        <td>{{instance.country_region}}</td>
        <td>{{instance.province_state}} </td>        
        <td>{{instance.active_cases}} </td>        
        <td>{{instance.fips}} </td>        
    </tr>
{% endfor %}
</table>

{% endblock %}